body {
  background-color: bisque; 
  display: flex;
  min-height: 100vh; 
  justify-content: center;
  align-items: center;
}
.main-card{
  
  
  background-color: #232323;
  display: flex;
  min-height: 500px;
  min-width: 500px;
  
  align-items: center;
  color: bisque;
  flex-direction: column;
  border-radius: 15px;
  

}

button {
  background-color: rgb(255, 232, 203);
  
  border-radius: 15px;
  border-color: black;
  
  

}

ul {
  list-style-type: none;

  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

li {
  display: flex;       
  align-items: center; 
  gap: 20px;           
  
  padding: 15px;
  border-radius: 8px;
  
  justify-content: space-between;
}

.to-do-list{
  width: 100%;
}

@media (max-width: 600px) {
  .main-card {
    width: 30%; /* Let the card breathe on small screens */
    padding: 10px;
    min-width: none;
    min-height: none;
  }
  
  li {
    flex-direction: column; /* Stack text and button vertically if they get too squished */
    align-items: flex-start;
    gap: 10px;
  }
}